.interna-portfolio {
  background: url("../img/bg-portfolio.png") no-repeat center;
  background-size: cover;
}

.quote-clientes{
  padding: 60px 0;
  margin: 0 auto;
  max-width: 500px;
}

.quote-clientes p {
  font-family: "IBM Plex Sans", monospace;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-clientes cite{
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  float: right;
  font-style: normal;
}