/* ESTILO PARA TABLET */

@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* QUALIDADE */
  .qualidade:after {
    right: 70px;
  }

  .qualidade-lista li {
    padding: 0 15px;
  }

  /* FOOTER */
  .footer-redes ul li a {
    border: 3px solid #fda940;
    display: block;
    padding: 5px;
  }

  .footer-redes ul li a IMG {
    width: 26px;
    height: 26px;
  }

  /*PRODUTO */
  .produto-item h2 {
    top: -140px;
    margin-bottom: -50px;
  }

  .produto-icone {
    padding: 61px 0;
  }

  .produto-info p {
    padding: 20px 30px;
    height: 165px;
  }

  .produto-info ul li {
    width: 181px;
    height: 48px;
  }

  .img-2 {
    height: 263px;
  }
}

/* ESTILO PARA SMARTPHONE */

@media only screen and (max-width: 787px) {
  /* HEADER */
  .header {
    position: relative;
    padding-bottom: 0px;
  }

  .header img {
    margin: 0 auto 20px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 0;
    margin-bottom: 7px;
  }

  .header_menu ul li a {
    border: 2px solid;
    width: 140px;
    font-weight: bold;
    display: block;
    float: left;
  }

  /* INTRODUÇÃO */
  .introducao h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .introducao {
    margin-top: 0px;
    padding-top: 50px;
    background: url("../img/bg-mobile-introd.png") no-repeat center;
    background-size: cover;
  }

  /* INTRODUÇÃO INTERNA */

  .introducao-interna {
    margin-top: 0px;
  }

  /* QUALIDADE HOME*/
  .qualidade:after {
    display: none;
  }

  .qualidade-lista li {
    margin-bottom: 40px;
  }

  /* SOBRE */
  .missao-sobre p {
    padding-right: 0px;
  }

  /*PRODUTO */
  .produto-item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    padding: 20px 30px;
    height: auto;
  }

  .produto-info ul li {
    width: 149px;
    height: 49px;
    font-size: 16px;
    line-height: 20px;
    padding-top: 14px;
  }

  .form {
    padding-right: 0px;
  }

  .orcamento-dados ul {
    padding-right: 0px;
  }

  /*CONTATO */
.contato-form{
  padding-right: 0px;
  margin-bottom: 40px;
}

.contato-mapa{
  width: 100%;
}
}
