.interna-sobre{
  background: url("../img/bg-sobre.png") no-repeat center;
  background-size: cover;
}

.missao-sobre{
  padding-top: 60px;
  font-family: "IBM Plex Sans", monospace;
}

.missao-sobre p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.missao-sobre ul li{
  font-size: 18px;
  line-height: 30px;
}

.foto-sobre{
  padding-top: 40px;
}