/* Estilos Gerais*/

body {
  font-family: "IBM Plex Mono", monospace;
}

p {
  font-family: "IBM Plex Sans", monospace;
  font-size: 15px;
  line-height: 20px;
}

img {
  display: block;
}

.btn-vazado {
  border: 3px solid #ffffff;
  padding: 7px 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn-vazado:hover {
  color: #ffffff;
  background: #0f2350;
  border-color: #0f2350;
}

.btn {
  padding: 7px 30px;
  background: #0f2350;
  color: #fda940;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #0f2350;
  background: #fda940;
}

.subtitulo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #0f2350;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0f2350;
  margin: 7px auto;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0f2350;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 25px;
}

.header_menu ul li a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fda940;
}

/* Introdução */

.introducao {
  width: 100%;
  height: 409px;
  background: url("../img/bg-intro.jpg") no-repeat center;
  background-size: cover;
  margin-top: 90px;
  text-align: center;
  padding-top: 100px;
}

.introducao h1 {
  font-size: 48px;
  color: #0f2350;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #0f2350;
}

.quote-externo p {
  font-style: italic;
  font-size: 15px;
}

.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #ffffff;
  margin: 7px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: #fda940;
  text-align: center;
}

.produtos-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos-lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0f2350;
  margin: 2px auto;
}

.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-icone {
  background: #0f2350;
  padding: 20px;
}

.call {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/* Portfolio */

.portfolio {
  width: 100%;
  background: #000f1e;
  padding: 60px 0;
}

.portfolio .subtitulo {
  color: #ffffff;
}

.portfolio .subtitulo:after {
  background: #fda940;
}

.portfolio-lista li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: #ffffff;
}

/* QUALIDADE */

.qualidade {
  padding: 60px 0;
}

.qualidade:after {
  content: "";
  width: 623px;
  height: 71px;
  display: block;
  background: url("../img/linha-qualidade.png") no-repeat center;
  position: absolute;
  top: 210px;
  right: 165px;
  z-index: -1;
}

.qualidade img {
  margin: 0 auto;
}

.qualidade-lista {
  padding-top: 50px;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade-lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0f2350;
  margin: 6px auto;
}

/* QUEBRA */
.quebra {
  width: 100%;
  height: 220px;
  background: url("../img/bg-footer.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
}

.quebra blockquote p {
  color: #ffffff;
}

.quebra blockquote cite {
  color: #ffffff;
}

.quebra .quote-externo {
  max-width: 400px;
}

/* FOOTER */

.footer {
  width: 100%;
  background: #000f1e;
  color: #ffffff;
  padding: 40px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fda940;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fda940;
  margin: 6px 0 12px 0;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
}

.footer-redes ul li{
  display: inline-block;
}

.footer-redes ul li a{
  border: 3px  solid  #fda940;
  display: block;
  padding: 10px;
}

.footer-redes ul li a:hover{
border-color: #ffffff;
background-color: #fda940;
}

.copy{
  width: 100%;
  background: #fda940;
  padding: 20px;
  text-align: center;
}

.copy p{
  font-weight: bold;
}

